# Environment Variables
# -----------------------------------------------------------------------------
# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/my-db"

# Better Auth
BETTER_AUTH_SECRET="super-secret-key-change-me-in-production"

# Observability (Server)
OTEL_SERVICE_NAME="my-app"
OTEL_EXPORTER_OTLP_ENDPOINT="http://localhost:4318"
PYROSCOPE_ENABLED="false"
PYROSCOPE_SERVER_ADDRESS="http://localhost:4040"

# Observability (Client — Grafana Faro)
NEXT_PUBLIC_FARO_COLLECTOR_URL="http://localhost:4318/v1/traces"
