# Environment Variables
# -----------------------------------------------------------------------------
# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/my-db"

# Better Auth
BETTER_AUTH_SECRET="super-secret-key-change-me-in-production"

# Observability
OTEL_EXPORTER_OTLP_ENDPOINT="http://localhost:4318"
PYROSCOPE_ENABLED="false"
PYROSCOPE_SERVER_ADDRESS="http://localhost:4040"
